@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
a {
    color: currentColor;
    text-decoration: none;
}

main .first-section-main {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
    padding: 3rem 0;
    background-image: url('https://images.squarespace-cdn.com/content/v1/5fe4caeadae61a2f19719512/1612118482566-UAK7L5MO552SWFEPH6VD/Naruto14.jpg');
    box-shadow: inset 100vw 0 0 rgba(0, 0, 0, 0.762);
    background-size: cover;

    .main-links-container {
        grid-column: 2 / 5;
        justify-content: center;
        max-width: 1100px;
        gap: 1.5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    }
    figure {
        cursor: pointer;
        position: relative;
        text-align: center;
        object-fit: contain;

        img {
            width: 100%;
            height: 280px;
            border-radius: 12px 12px 0 0;
            object-fit: cover;
            object-position: 0 -60px;
            transition: object-position .3s ease;
            
        }
        &:hover img {
            object-position: 0 -80px;
        }
    }
    figcaption {
        background-color: #ff8906;
        text-transform: uppercase;
        color: #fffffe;
        letter-spacing: 2px;
        font-weight: bold;
        transition: letter-spacing .2s ease;
        padding: .5rem ;
        border-radius: 0 0 12px 12px;
    }
}
h1 {
    padding-bottom: 1rem;
}
.second-section-main {
    @include flex;
    justify-content: space-around;
    background-color: #fffffe;
    color: #0f0e17;
    padding: 3rem 1rem;
    font-size: 1.2em;

    h1 {
        color: #f25f4c;
    }
    div {
        @include flex;
        flex-direction: column;
        min-height: 23.5rem;
        width: 35rem;
    }
    figure {
        display: flex;
        justify-content: end;

        img {
            max-width: 35rem;
            width: 100%;
            border-radius: 30px;
        }
    }
}
@media(max-width: 500px) {
    .second-section-main {
        img {
            display: none;
        }
    }
}